.aboutMe{
  width: 100%;
  background-color: #e5e5e5;

  +to-width($breakpointMobile){
    padding: 0 0 20px 0;
  }

  +from-width($breakpointTablet){
    padding: 20px;
  }

  .container {
    width: 100%;
    position: relative;

    +to-width($breakpointMobile){
      top: 25px;
    }

    +from-width($breakpointTablet){
      top: 25px;
      padding: 0 0 30px 0;
    }

    .description{
      +between(400px, 549px){
        padding: 20px 20px 0 20px;
      }

      +between(550px, 755px){
        padding: 20px 20px 0 20px;
      }
    }

    .profilePicture{
      text-align: center;

      img {

        +to-width($breakpointMobile) {
          width: 250px;
        }

        margin: 0 0 10px 0;

        border: 3px solid #333333;
        border-radius: 200px;
      }
    }
  }

  -webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
}