.mobileNavBar{
  +from-width(568px){
    display: none;
  }

  .blogButton{
    position: absolute;
    top: 12px;
    left: 15px;

    button{
      color: white;
    }
  }

  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  background-color: #333333;
  width: 100%;
  height: 65px;
  border: 1px solid #000000;

  position: absolute;
  top: 0;
  left: 0;

  .hamburgerIcon{
    position: absolute;
    top: 8px;
    right: 10px;

    i{
      color: white;

      border: 2px solid white;
      border-radius: 7px;
      padding: 0 5px;
      font-size: 2.75em;
    }
  }

  .dropdownMenu{
    width: 100%;
    background-color: #646464;

    position: relative;
    top: 65px;

    text-align: center;
    padding: 10px 0 0 0;

    ul, a, li, li:active, li:hover{
      color: white;
      text-decoration: none;
      list-style-type: none;
    }

    li{
      padding: 0 0 10px 0;
      border: 1px solid transparent;
      border-bottom-color: #333333;
    }
  }
}