.projects{
  width: 100%;

  position: relative;
  top: 25px;

  h1{
    color: white;
  }
}

.projectsBackground{
  background-image: url("/dist/img/Alley.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
  width: 100%;

  .shade{
    background-color: rgba(0, 0, 0, 0.85);
  }
}