// Import relevant stylus files...
@import 'styles/introduction.styl'

html, body{
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;

    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------------ */

.mobileNavBar{
    +from-width(2){
        display: none;
    }

    .blogButton{
        position: absolute;
        top: 12px;
        left: 15px;

        button{
            color: white;
        }
    }

    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    background-color: #333333;
    width: 100%;
    height: 65px;
    border: 1px solid #000000;

    position: absolute;
    top: 0;
    left: 0;

    .hamburgerIcon{
        position: absolute;
        top: 8px;
        right: 10px;

        i{
            color: white;

            border: 2px solid white;
            border-radius: 7px;
            padding: 0 5px;
            font-size: 2.75em;
        }
    }

    .dropdownMenu{
        width: 100%;
        background-color: #646464;

        position: relative;
        top: 65px;

        text-align: center;
        padding: 10px 0 0 0;

        ul, a, li, li:active, li:hover{
            color: white;
            text-decoration: none;
            list-style-type: none;
        }

        li{
            padding: 0 0 10px 0;
            border: 1px solid transparent;
            border-bottom-color: #333333;
        }
    }
}

/* ------------------------------------------------ */

.centerText{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    
    h1{
        +to-width(1){
            font-size: 3em;

            position: relative;
            top: 20px;
        }

        +from-width(2){
            font-size: 6em;
            position: relative;
            top: 25px;
        }

        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
    
    h2 {

        +to-width(1){
            font-size: 1.3em;

            position: relative;
            top: 5px;
        }

        +from-width(2){
            font-size: 1.6em
        }

        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }

    h1, h2{
        color: white;
    }

    hr{
        margin: auto;

        +to-width(1){
            width: 20em;
        }

        +from-width(2){
            width: 45em;
        }
    }

    i{

        +to-width(1){
            margin: 10px 15px;
        }

        +from-width(2){
            margin: 25px 35px;
        }

        color: white;

    }

    i:hover{
        color: grey;
    }

    .links{
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
}

.imageBackground{
    height: 100%;
    width: 100%;
    background: url("/dist/img/photo-1437652010333-fbf2cd02a4f8.jpg");
    background-size: cover;
}

.shade{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

/* ----------------------------------- */
.buttonGroups {

    +to-width(1){
        display: none;
    }

    .buttonGroupRight {
        position: absolute;
        top: 25px;
        right: 25px;

        button {
            margin: 0 0 0 20px;
            color: white;
        }

        -webkit-animation-delay: 3.5s;
        animation-delay: 3.5s;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }

    .buttonGroupLeft {
        position: absolute;
        top: 25px;
        left: 25px;

        button {
            color: white;
        }

        -webkit-animation-delay: 3.5s;
        animation-delay: 3.5s;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
}

/* --------------------------------------------- */

.aboutMe{
    display: none;

    overflow: auto;
    height: 75%;
    width: 40em;

    position: absolute;
    top: 100px;
    left: 20%;

    border-radius: 5px;
    background-color: white;
    border: 4px solid #333333;

    .closeButton{
        position: absolute;
        right: 10px;
        top: -10px;

        font-size: 3em;
    }

    .profilePicture {
        text-align: center;

        position: relative;
        top: 20px;

        width: 200px;
        margin: auto;

        img {
            width: 200px;
            border-radius: 100px;
            border: 3px solid black;
        }
    }

    .description{
        h1{
            text-align: center;

            position: relative;
            top: 30px;

            font-size: 2.5em;
        }

        p{
            text-align: justify;

            font-size: 1.25em;

            padding: 20px;
        }
    }
}

.appear{
    display: inline-block;
}

.disappear{
    display: none;
}

/* --------------------------------------------- */