include jade/utils.jade

doctype html
html.no-js(lang="en")
  head
    include jade/head.jade

  body
    +ie('if IE')
      .browsehappy
        p
          | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience


    .imageBackground
      .shade

    .mobileNavBar.animated.fadeInDown
        .blogButton
            a(href="https://bigbeno37.github.io/blog")
                button Blog

        .hamburgerIcon
            i.fa.fa-bars

        .dropdownMenu
            ul
                a(href="#").aboutMeButton
                    li About Me
                a(href="#").projectsButton
                    li My Projects
                a(href="http://bigbeno37.bandcamp.com")
                    li Bandcamp

    .buttonGroups
        .buttonGroupRight.animated.fadeInRight
            a(href="#").aboutMeButton
                button About Me
            a(href="#").projectsButton
                button Projects
            a(href="http://bigbeno37.bandcamp.com", target="_blank")
                button Bandcamp


        .buttonGroupLeft.animated.fadeInLeft
            a(href="http://bigbeno37.github.io/blog", target="_blank")
                button Blog

    .centerTextBody
      .centerText
          h1.animated.fadeInDown Ben O'Sullivan
          h2.animated.fadeInDown
            em Software Engineer, Composer, Gamer
          hr

          // -----------------------------

          .links.animated.fadeInUp
              a(href="https://github.com/bigbeno37", target="_blank")
                i.fa.fa-github.fa-2x

              a(href="http://www.freecodecamp.com/bigbenno37", target="_blank")
                i.fa.fa-fire.fa-2x

              a(href="https://twitter.com/bigbeno37", target="_blank")
                i.fa.fa-twitter.fa-2x

              a(href="https://soundcloud.com/bigbeno-osu", target="_blank")
                i.fa.fa-soundcloud.fa-2x

              a(href="https://www.linkedin.com/in/ben-o-sullivan-81a5b1b9", target="_blank")
                i.fa.fa-linkedin.fa-2x

    .aboutMe.animated
        .closeButton
            a(href="#")
                i.fa.fa-times
        .profilePicture
            img(src="dist/img/Profile Pic.jpeg")
        .description
            h1 Hi! I'm Ben.
            p Ever since I was a young kid, I've always known that I wanted to be in the computer industry. Growing up, I tinkered and experimented with a wide variety of different games and software, until I discovered the concept of programming. At around 12, I began to learn Java so that I could begin modding the infamous Minecraft, and later moved onto Python and then into the world of Web Development. I love learning how to simplify build processes, and figuring out the best way to approach every problem so that I can get it done as quickly as possible.
            p While I enjoy programming, I am also a big fan of music, and as such compose songs in my spare time. While I only consider it a hobby right now, it allows me to take a break from the world of technology, and leads me to explore my creative side.

    .projects.animated
        .projectsCloseButton
            a(href="#")
                i.fa.fa-times

        h1 My Projects

        .project
            img(src="")
            h1 Test Project
            p This project used this and this and this








    +ie('if lt IE 9')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
      script window.jQuery || document.write('<script src="dist/js/vendor/jquery-1.11.2.min.js"><\/script>')

    +ieSpecial('if gt IE')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script window.jQuery || document.write('<script src="dist/js/vendor/jquery-2.1.3.min.js"><\/script>')

    script(src="dist/js/plugins.js")
    script(src="dist/js/script.js")